body {
    background-color:rgb(247, 253, 255);
    font-family:'Poppins',sans-serif;
}

/* header.css */

.nav-text {
    font-size:18px;
}

.container-fluid .navbar-image {
    width:60px;
    height:60px;
}

.header .navbar  {
    border-bottom: 1px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    z-index:200;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    background-color: rgb(247, 185, 195);
}

/* sub-header.css */
  
.sub-header .navbar .container {
    justify-content: center;
    column-gap: 20px;
    
}

.sub-header .navbar {
    border-bottom: 1px;
    position:relative;
    top:85px;
    left:0;
    right:0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    z-index:100;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    background-color: rgb(243, 206, 212);
}

.navbar-brand .tooltip,
.footer .container .row .tooltip {
    position:absolute;
    background-color:gray;
    color:white;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:8px;
    padding-right:8px;
    border-radius:2px;
    font-size:12px;
    bottom:-30px;
    opacity:0;
    pointer-events: none;
    white-space: wrap;
}
.navbar-brand:hover .tooltip,
.footer .container .row:hover .tooltip {
    opacity:1;
}