.contacts {
    background-color:rgb(247, 253, 255);
    font-family:'Poppins',sans-serif;
}

.contact-socials h1 {
    text-align: center;
    margin-top:40px;
    margin-bottom:30px;
}

.contact-socials-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}

.contact-socials-icons svg {
    width:60px;
    height:60px;
}

