


.container-fluid .navbar-image {
    width:60px;
    height:60px;
}

.header .navbar  {
    border-bottom: 1px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    z-index:200;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    background-color: rgb(247, 185, 195);
}


