.success-stories-section {
	margin-bottom: 40px;
    margin-top:60px;
}

.success-stories-section .intro {
    margin-bottom: 30px;
}

.success-stories-section .intro h2 {
    font-size:40px;
    font-weight:bold;
}

.success-stories-section .video-box {
    padding-left:50px;
    padding-right:50px;
}